//- FUNCTIONS
//- ====================================================
mixin sectionhome(link, name, subtitle)
	section
		h2.anchor&attributes({'id': link})= name
		p.text-muted= subtitle
		.row
			if block
				block
mixin sectionhomecard(header,src,alt,caption,src2)
	.col-md-6
		.card
			.card-header= header
			figure
				img.card-img-top(src=src alt=alt)
				.card-body
					figcaption
						p.card-text= caption
			if block
				block
mixin button(src, name)
			a.btn.btn-primary(href=src)= name
mixin rating(name)
	section
		.row
			.col-12
				h3.text-center= name
				table.table.table-responsive#stars
					//- ====== It's very self-explanatory ======
					//-thead
						//-tr
							//-th(scope="col") Skill
							//-th(scope="col") Rating /5
							//-th(scope="col") Meaning
							//-th(scope="col") Example
					tbody
						if block
						block
mixin rating-row(num,name,meaning,url,example)
	tr
		td.align-middle= name
		td.align-middle
			span
				- for(var j = 1; j <= num; j++)
					i.fas.fa-star
		td.align-middle
			span.badge.badge-secondary= meaning
		td.align-middle
			a(href=url)= example
mixin rating-header(name)
	tr
		td.align-middle(colspan="4")
			span.badge.badge-primary
				em= name
//- HOME PAGE
//- ====================================================
.container
	.logo
		+image('images	/logo-NK-1mdpi.png','Logo Nathan Keen')
	header
		h1.text-center Hi! I'm Nathan Keen;<br /> a UX/UI designer
		p.text-center This is my portfolio
	//- MAIN CONTENT SECTIONS
	//- ====================================================
	+articleintro("tshaped",'I have a T-Shaped skill set','','images/marketing/tshaped.png',"An I is a specialist, which is bad; a - is a generalist, which is also bad; but a T is a generalising specialist, which is good","A generalising specialist is also called a T-shaped person")
		p Tim Brown, CEO of one of the greatest design companies in the world, IDEO, hires people who are T-shaped.
		p I-shaped people are traditional experts, specialist in one field.
		p T-shaped people are the best creatives, able to empathise with a wide field and apply their mastery to new fields.
	.row.justify-content-center
		.col-md-10.col-xl-8
			h4 My generalist skills
			ul
				li Finance/ Accounting
				li Business Management
				li Engineering (Civil Engineering degree)
				li Print
				li Email/ Marketing
				li Web Development
				li Tech Support
				li Project Management
				li Psychology
				li Conflict Resolution (2012 course)
			p Many of these skills have come because I've run my own business and had to do everything.
			p Other skills have come because I've often worked in small organisations.
			p These skills help me to empathise with other members of the design process. For example, I can more easily work with finance to create effective solutions for displaying data, having a business background.
			h4 My specialist skills
			p Please read on about my web design specialisations in UI, UX and IA
	section
		.row.justify-content-center
			.col-md-12.col-xl-10
				h2#tshaped 
	+sectionhome('UI','User Interface (UI)','What design will be intuitive for the user?')
		+sectionhomecard('The Naturally Wild home page','images/ux-portfolio/ui-natwild.jpg','Screenshot from natwild.com.au','Built on Shopify, this is set to pay for itself in 6 months, delivering 150x the previous website!')
			+button(links.natwild+"#UI",'Read more')
		+sectionhomecard('Red Cup Cafe','images/redcup/ui-redcup.jpg','Screenshot from redcup.com.au','Built using Joomla, the owner wanted a unique and authentic look')
			+button(links.redcup,'Read more')
	+rating('UI skills')
		+rating-header('Languages')
		+rating-row('5','CSS3 & earlier',"I could teach it",links.redcup+"#Proto","Red Cup Cafe 2017")
		+rating-row('3','SASS/SCSS',"I understand most of it",links.githubpf,"This portfolio website (via Github)")
		+rating-row('5','HTML5 & earlier',"I could teach it",links.githubpf,"This portfolio website (via Github)")
		+rating-row('3','Pug/Jade',"I understand most of it",links.githubpf,"This portfolio website (via Github)")
		+rating-row('2','JavaScript (native)',"I know the basics",'https://codepen.io/nathankeenmelb/pen/GOQwxb',"Custom typewriter (via Codepen)")
		+rating-row('3','jQuery',"I understand most of it",'#',"")
		+rating-row('1','React',"I'm learning it",'https://reactforbeginners.com/','via Wes Bos')
		+rating-header('Design')
		+rating-row('5','Adobe Photoshop',"I've used it for zonks",links.redcup2008,"Red Cup Cafe 2008 (via Behance)")
		+rating-row('4','Adobe Illustrator',"I've used it for zonks",links.conflict,"Infographic on Conflict Resolution (via Behance)")
		+rating-row('3','Adobe InDesign',"I know most of it")
		+rating-row('5','Web Interfaces',"I could teach it")
		+rating-row('3','Marketing campaigns',"I thoroughly understand it")
		+rating-row('3','Print',"I thoroughly understand it",links.design,"Graphic Design portfolio (via Behance)")
		//-+rating-row('4','Various utilities',"I've got a long list",'#',"My design tricks of the trade")
		+rating-header('Frameworks')
		+rating-row('4','Bootstrap',"I create from scratch",links.githubpf,"This portfolio website (via Github)")
		+rating-row('5','Joomla',"I could teach it",links.redcup,"Red Cup Cafe 2017")
		+rating-row('3','WordPress',"I understand most of it",'#',"")
		//-+rating-row('4','Creativity/Ideation',"I confidently ideate",'#',"")
		//- This whole section is a bit iffy - not sure about this level of detail, or whether it's best to SEE this: yes.
		//-+rating-header('design')
		//-+rating-row('4','Animated GIFs',"I've pushed it to the limits",'#',"Red Cup Cafe 2008 menu items")
		//-+rating-row('4','Website artifacts',"I've pushed it to the limits",'#',"")
		//-+rating-row('3','CSS Animation',"I understand it",'#',"This portfolio website")
	+sectionhome('UX','User Experience (UX)','What works for the user to make their experience the best?')
		+sectionhomecard('Naturally Wild Information Architecture','images/natwild/sitemap-thumb.png','Part of the product sitemap','Planning and delivering on IA for 1,500 products and variations')
			+button(links.natwild,'Read more')
		//-+sectionhomecard('Red Cup Cafe','http://via.placeholder.com/350x150','Screenshot from redcup.com.au','Built using Joomla, the owner wanted a unique and authentic look')
	+rating('UX skills')
		+rating-header('Initiation')
		+rating-row('3','Business Goals',"I confidently extract goals",links.redcup+"#Neg","Red Cup Cafe 2017")
		//- '#',"NFP Infohub" or some software analysis chart
		+rating-row('4','Competitor Analysis',"I chart/graph in my sleep")
		+rating-header('Planning')
		//- one example doesn't cut it: can we have like a whole section for this!?
		+rating-row('3','User Personas/Profiling',"I understand most of it",links.redcup+"#UX","Red Cup Cafe 2017")
		+rating-row('3','User Story Mapping',"I understand most of it",links.workxp+"#Learning","Book review (Jeff Patton)")
		//- Review of book; or some work within Red Cup Cafe?
		+rating-row('3','User Journeys',"I understand most of it",links.redcup+"#UX","Red Cup Cafe 2017")
		//- This site?
		+rating-row('2','Accessibility & WCAG',"I understand some of it",'#',"")
		//- Need to write this up '#',"Philworld Trading website"
		+rating-row('4','Specifications',"I know pros & cons of many ways")
		+rating-header('Prototyping')
		//- Need to write something here e.g. Naturally Wild natwild.com.au or "Philworld Trading IA"
		+rating-row('5','Information Architecture',"I see dead patterns (6th sense)",links.ia,'Why I say I have a 6th sense in IA')
		//- MUST have multiple examples, not just paper. ,'#',"This portfolio website"
		+rating-row('3','Prototyping, lo-fi',"I confidently create")
		//- MUST have multiple examples
		+rating-row('3','Prototyping, hi-fi (interactive)',"I confidently create",links.redcup+"#Proto","Red Cup Cafe 2017")
		//- and for something different - the tracking done on the Action? website
		+rating-row('3','Qualitative Research',"I understand most of it",links.redcup+"#Proto","Red Cup Cafe 2017")
		//- Add '#',"NFP survey"
		+rating-row('3','Quantitative Research',"I confidently create + analyse")
		+rating-header('Quality Controls')
		+rating-row('3','Standards/Guidelines',"I confidently create them",'#',"")
		+rating-header('Software')
		+rating-row('3','Adobe XD',"I confidently use it",'#',"")
		+rating-row('3','Axure',"I confidently use it",'#',"")
		+rating-row('2','Sketch + Invision',"I understand the basics",'#',"")
		+rating-row('2','Balsamiq',"I understand the basics",'#',"")
		+rating-row('3','Proto.io',"I confidently use it",'#',"")
	section#blog
		.container
			h3.text-center UX blog posts
			#blogContent.section-content
				#jsonContent.row

	+sectionhome('PM','Project Management','How can we manage timeframes?')
		+sectionhomecard('Outsourcing','images/ux-portfolio/pm-parallel.jpg','Gantt chart showing two major pieces in parallel',"How I delivered twice the value for Red Cup Cafe in the agreed time through smart outsourcing.")
			+button(links.redcup+"#Proto",'Read more')
		+sectionhomecard('Agile Project Management','images/ux-portfolio/book-user-story-mapping-sm.jpg',"Jeff Patton's 'User Story Mapping' book","How I have managed this portfolio site")
			+button(links.portfolio,'Read more')
	+rating('PM skills')
		//- include ,'#',"Various examples"
		+rating-row('5','PM artifacts',"I could teach this")
		//- include little writeup ,'#',"Outsourcing on Upwork"
		+rating-row('3','Outsourcing',"I thoroughly understand it")
		//- Add here some items regarding Agile, Waterfall: perhaps a medium article of a review of a book on this?
		+rating-header('Software')
		//- include little writeup '#',"PM for Agape Media Consulting"
		+rating-row('4','Asana + Everhour',"I've ticked off thousands of tasks")
		+rating-row('3','Mavenlink',"I understand most of it",'#',"")
		+rating-row('4','Basecamp',"I've broken it",'#',"")
		+rating-row('4','Trello',"I've broken it",'#',"")
		+rating-row('3','Teamwork',"I understand most of it",'#',"")
		//- inlcude a little writeup '#',"PSA Project Management"
		+rating-row('4','MS Project',"I've pushed it beyond its limits")
	//- ============ WHEN I HAVE TIME, INCLUDE BUSINESS ================
	//-+sectionhome('Business','How can we ensure financial success?')
		//-+sectionhomecard('Naturally Wild','http://via.placeholder.com/350x150','Screenshot from natwild.com.au',"Built on Shopify, this is set to pay for itself in 6 months, delivering 150x the previous website!")
		//-+sectionhomecard('Red Cup Cafe','http://via.placeholder.com/350x150','Screenshot from redcup.com.au',"Built using Joomla, the owner wanted a unique and authentic look")
	//-+rating('Business skills')
		//-+rating-row('5','Adobe Photoshop',"I've used it for zonks",'#',"Red Cup Cafe 2008")
		//-+rating-row('5','Adobe Illustrator',"I've used it for zonks",'#',"Infographic on Conflict Resolution")
		//-+rating-row('2','Sketch',"I understand the basics",'#',"Infographic on Conflict Resolution")
		//-+rating-row('4','Creativity',"I confidently ideate",'#',"Infographic on Conflict Resolution")
		//-+rating-row('3','Typography',"I can easily copy other styles",'#',"Infographic on Conflict Resolution")
	+sectionhome('Web','General Web','How can we empower people?')
	+rating('Web skills')
		+rating-row('5','WHM/cPanel',"I've done this for zonks",'#',"")
		+rating-row('2','SQL',"I understand some of it",'#',"")
		+rating-row('3','Github',"I understand most of it",links.github,"Check out my Github account")
//- BOTTOM NAV
//- ====================================================
nav.navbar.navbar-expand.navbar-dark.fixed-bottom.bg-dark#navbot
		ul.navbar-nav
			+navli('#top',"Top")
			+navli('#UI',"UI")
			+navli('#UX',"UX")
			+navli('#PM',"PM")
			+navli('#Web',"Web")